@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

:root {
  --body: #333;
  --text: #ddd;
  --column: #555;
  --link: #ddd;
  --link-hover: #ffd;
}

body {
  /* background: var(--body) url(images/raspi.jpg) center center / cover; */
  background: var(--body) url(images/raspi-trans.png) center center / cover;
  color: var(--text);
  font-family: 'Raleway', sans-serif;
  height: 100vh
}

h1, h2 {
  font-weight: 200;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

.columns {
  display: flex;
  opacity: 0.8;
}

.column {
  background: var(--column);
  margin: 0.5rem;
  flex: 1;
}

.list-unstyled {
  list-style-type: none;
}

.pl3 {
  padding-left: 3rem;
}

.pl4 {
  padding-left: 4rem;
}
