@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

body {
  background: #333;
  color: #ddd;
  font-family: 'Raleway', sans-serif;
  height: 100vh
}

h1, h2 {
  font-weight: 200;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #ddd;
}

a:hover {
  color: white;
}

.container {
  max-width: 1000px;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

.columns {
  display: flex;
}

.column {
  flex: 1;
}

.list-unstyled {
  list-style-type: none;
}

.pl3 {
  padding-left: 3rem;
}
.pl4 {
  padding-left: 4rem;
}
