@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

:root {
  --body: #333;
  --text: #eee;
  --column: rgba(85, 85, 85, 0.9);
  --link: #eee;
  --link-hover: #ffd;
}

body {
  background: var(--body) url(images/raspi-trans-2-1.png) center center / cover;
  background-blend-mode: multiply;
  color: var(--text);
  font-family: 'Raleway', sans-serif;
  height: 100vh
}

h1, h2 {
  margin-top: 1em;
  font-weight: 200;
}

h1 {
  font-size: 3em;
  text-shadow: 1px 1px 5px black;
}

h2 {
  font-size: 2em;
  text-shadow: 0px 0px 4px black;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
  font-weight: bold;
}

.container {
  width: 1000px;
  max-width: 95vw;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

.columns {
  display: flex;
}

.column {
  background: var(--column);
  flex: 1;
  margin: 0.5rem;
  opacity: 0.9;
}

.list-unstyled {
  list-style-type: none;
}

.pl3 {
  padding-left: 3rem;
}

.pl4 {
  padding-left: 4rem;
}

.pb1 {
  padding-bottom: 1rem;
}

@media (max-width: 700px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .pl3, .pl4 {
    padding-left: 1rem;
  }
}
