@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

body {
  background: #333 url(images/zak-elley-1.jpg) no-repeat center center / cover;
  color: #eee;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  padding:  0 3rem;
}

h1, h2 {
  margin: 0.4em 0;
  font-weight: 200;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  color: #bbb;
  font-size: 2rem;
}

.text {
  border-right: 0.2rem solid #777;
  padding-right: 0.1em;
}

.icons {
  padding: 0 1rem;
}

.icons a {
  color: white;
  margin-right: 0.6rem;
  text-decoration: none;
}

.icon-text {
  display: inline-block;
  margin-left: 0.2rem;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

i:hover + .icon-text, .icon-text:hover {
  opacity: 1;
}

@media(min-width: 1200px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media(max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
